.nav-menu-image {
    height: 20px;
    margin-right: 1ex;
}

.nav-menu-image4 { margin-top: -4px; }
.nav-menu-image5 { margin-top: -5px; }
.nav-menu-image6 { margin-top: -6px; }

.nav-menu-ico {
    background-image: url(../img/sprite.png);
    background-size: 20px 160px;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.nav-menu-ico-main { background-position: 0px -80px; }
.nav-menu-ico-agenda { background-position: 0px 0px; }
.nav-menu-ico-crown { background-position: 0px -20px; }
.nav-menu-ico-helicopter { background-position: 0px -40px; }
.nav-menu-ico-new { background-position: 0px -100px; }
.nav-menu-ico-pay { background-position: 0px -120px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover,
a:active {
    outline: 0;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

button {
    cursor: pointer;
    -webkit-appearance: button;
}

label,
select,
button {
    cursor: pointer;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

@media print {
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page  {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    margin: 0;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #222222;
    background-color: #ffffff;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #354b60;
    text-decoration: underline;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.container {
    width: 940px;
}

.span9 {
    width: 700px;
}

.span8 {
    width: 620px;
}

.span4 {
    width: 300px;
}

.span3 {
    width: 220px;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}

.row-fluid:after {
    clear: both;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.row-fluid .span9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
}

.row-fluid .span8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
}

.row-fluid .span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}

.row-fluid .span3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.container:before,
.container:after {
    display: table;
    line-height: 0;
    content: "";
}

.container:after {
    clear: both;
}

p {
    margin: 0 0 10px;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

cite {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
    line-height: 40px;
}

h1 {
    font-size: 41.25px;
}

h2 {
    font-size: 33.75px;
}

h3 {
    font-size: 26.25px;
}

h4 {
    font-size: 18.75px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 12.75px;
}

ul,
ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

dl {
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ffffff;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #ecf0f1;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
}

address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
}

code,
pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 13px;
    color: #7b8a8b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

pre.prettyprint {
    margin-bottom: 20px;
}

pre code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

form {
    margin: 0 0 20px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 22.5px;
    line-height: 40px;
    color: #7b8a8b;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

legend small {
    font-size: 15px;
    color: #b4bcc2;
}

label,
input,
button,
select,
textarea {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
}

input,
button,
select,
textarea {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
textarea {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    color: #95a5a6;
    vertical-align: middle;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input,
textarea,
.uneditable-input {
    width: 206px;
}

textarea {
    height: auto;
}

textarea {
    background-color: #ffffff;
    border: 1px solid #dce4ec;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

select {
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */

    line-height: 30px;
}

select {
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #dce4ec;
}

select:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio,
.checkbox {
    min-height: 20px;
    padding-left: 20px;
}

input,
textarea {
    margin-left: 0;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border: 1px solid #d7e0e2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 15px;
    line-height: 20px;
    color: #7b8a8b;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #bfc6cb;
    *background-color: #d0d5d9;
    background-image: -moz-linear-gradient(top, #b4bcc2, #d0d5d9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4bcc2), to(#d0d5d9));
    background-image: -webkit-linear-gradient(top, #b4bcc2, #d0d5d9);
    background-image: -o-linear-gradient(top, #b4bcc2, #d0d5d9);
    background-image: linear-gradient(to bottom, #b4bcc2, #d0d5d9);
    background-repeat: repeat-x;
    border: 1px solid #dddddd;
    *border: 0;
    border-color: #d0d5d9 #d0d5d9 #a6afb7;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #c4c4c4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb4bcc2', endColorstr='#ffd0d5d9', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #7b8a8b;
    background-color: #d0d5d9;
    *background-color: #c2c9cd;
}

.btn:active,
.btn.active {
    background-color: #b4bcc2 \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover,
.btn:focus {
    color: #7b8a8b;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn-large {
    padding: 18px 36px;
    font-size: 18.75px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2c2c2c;
    *background-color: #3c3c3c;
    background-image: -moz-linear-gradient(top, #222222, #3c3c3c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#3c3c3c));
    background-image: -webkit-linear-gradient(top, #222222, #3c3c3c);
    background-image: -o-linear-gradient(top, #222222, #3c3c3c);
    background-image: linear-gradient(to bottom, #222222, #3c3c3c);
    background-repeat: repeat-x;
    border-color: #3c3c3c #3c3c3c #151515;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff3c3c3c', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #3c3c3c;
    *background-color: #2f2f2f;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #222222 \9;
}

.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

.nav > li > a {
    display: block;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #ecf0f1;
}

.nav > li > a > img {
    max-width: none;
}

.nav > .pull-right {
    float: right;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #b4bcc2;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.nav li + .nav-header {
    margin-top: 9px;
}

.nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
    padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #2c3e50;
}

.hero-unit {
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #ecf0f1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.hero-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 16px;
    font-weight: 500;
}

h6 {
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
}

p {
    margin-bottom: 1em;
}

.nav-list > li > a,
.nav-list > .active > a,
.nav-list .nav-header {
    text-shadow: none;
}

.btn {
    padding: 9px 20px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: none;
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

.btn:hover,
.btn:focus {
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

.btn:active,
.btn.active {
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-large {
    padding: 18px 36px;
}

textarea,
.uneditable-input {
    padding: 7px 6px;
    text-indent: 1px;
    border: 2px solid #dce4ec;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea:focus,
.uneditable-input:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

legend {
    color: #222222;
    border-bottom: none;
}

.well {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body {
    background-attachment: fixed;
    background-image: url(../img/bg.svg);
}

.hero-unit {
    background-image: url(../img/photo_head.jpg);
    background-position: 0% 46.001%;
    box-shadow: inset 0 0 1em #222;
    border-radius: 0 0 10px 10px;
}

.hero-unit h1,
.hero-unit p {
    color: #2c3e50;
}

.nav-list > li.nav-header {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #EEE;
    box-shadow: 0 0 0.7em #222222;
}

.sidebar-nav {
    padding: 9px 0;
}

.container {
    padding: 0 0.9cm;
    box-shadow: 0 0 0.7em #222222;
    background: white;
}
.content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px 0 5px 0;

}

.nav-list > li {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;

}

.row-fluid .span3.banner {
    margin-left: 0px;
    padding-top: 18px;
    width: 220px;
}

h1, h2 {
    font-family: 'PT Sans', sans;
}
h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('PTS55F_W.woff') format('woff');
}