body {
  background-attachment: fixed;
  background-image: url(../img/body-bg.png);
}

.hero-unit {
  background-image: url(../img/photo_head.jpg);
  box-shadow: inset 0 0 1em #222;
  border-radius: 0 0 10px 10px;
}

.hero-unit h1,
.hero-unit p {
  color: #2c3e50;
}

.nav-list > li.nav-header {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}
