body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #EEE;
    box-shadow: 0 0 0.7em #222222;
    background-attachment: fixed;
    background-image: url(../img/bg.png);
}

.hero-unit {
    background-image: url(../img/photo_head.jpg);
    background-position: 0% 46.001%;
    box-shadow: inset 0 0 1em #222;
    border-radius: 0 0 10px 10px;
}

.hero-unit .hero-unit-title,
.hero-unit .hero-unit-paragraph {
    color: #2c3e50;
}

.nav-list .nav-header {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}

.sidebar-nav {
    padding: 9px 0;
}

.container {
    background: white;
    padding: 0 0.9cm;
    box-shadow: 0 0 0.7em #222222;
}

.content-img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px 0 5px 0;
}

.nav-item {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
}

.nav-item-img {
    height: 20px;
    padding-right: 1ex;
    margin-top: -6px;
}

#news .nav-item-img {
    margin-top: -4px;
}

#pay .nav-item-img {
    margin-top: -5px;
}

.row-fluid .span3.banner {
    margin-left: 0px;
    padding-top: 18px;
    width: 220px;
}

h1, h2 {
    font-family: 'PT Sans', sans;
}

h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans;
}