@import url("../fonts/pt_sans.css");

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

p {
    margin: 0 0 10px;
    margin-bottom: 1em;
}

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 20px;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

a {
  color: #2c3e50;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #354b60;
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ffffff;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.navbar .container {
  width: auto;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
  float: left;
}

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #ecf0f1;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 20px;
    color: #7b8a8b;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #bfc6cb;
    background-image: -moz-linear-gradient(top, #b4bcc2, #d0d5d9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4bcc2), to(#d0d5d9));
    background-image: -webkit-linear-gradient(top, #b4bcc2, #d0d5d9);
    background-image: -o-linear-gradient(top, #b4bcc2, #d0d5d9);
    background-image: linear-gradient(to bottom, #b4bcc2, #d0d5d9);
    background-repeat: repeat-x;
    border: 1px solid #dddddd;
    border-color: #d0d5d9 #d0d5d9 #a6afb7;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #c4c4c4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb4bcc2', endColorstr='#ffd0d5d9', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.navbar .btn-navbar {
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .btn {
  margin-top: 6px;
}

@media (max-width: 767px) {
  div.subnav .nav > li:first-child > a,
  div.subnav .nav > li + li > a {
    border-color: transparent;
  }
  div.subnav .nav > li:first-child > a:hover,
  div.subnav .nav > li + li > a:hover {
    background-color: #cfd9db;
  }
  div.subnav .nav > li:last-child > a {
    border-radius: 0 0 4px 4px;
  }
  .input-append .add-on,
  .input-prepend .add-on,
  .input-append .btn,
  .input-prepend .btn {
    padding: 5px;
  }
}

@media (max-width: 979px) {
  .navbar .nav-collapse .nav > li > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li > a:hover {
    background-color: #18bc9c;
  }
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2c2c2c;
  *background-color: #3c3c3c;
  background-image: -moz-linear-gradient(top, #222222, #3c3c3c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#3c3c3c));
  background-image: -webkit-linear-gradient(top, #222222, #3c3c3c);
  background-image: -o-linear-gradient(top, #222222, #3c3c3c);
  background-image: linear-gradient(to bottom, #222222, #3c3c3c);
  background-repeat: repeat-x;
  border-color: #3c3c3c #3c3c3c #151515;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff3c3c3c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

.btn-large .caret {
  margin-top: 6px;
}

.btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.btn-mini .caret,
.btn-small .caret {
  margin-top: 8px;
}

.dropup .btn-large .caret {
  border-bottom-width: 5px;
}

.btn-large {
  padding: 18px 36px;
  font-size: 18.75px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 206px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ecf0f1;
  border: 1px solid #d7e0e2;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well-large {
  padding: 24px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.well {
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ecf0f1;
}

.nav > li > a > img {
  max-width: none;
}

.nav > .pull-right {
  float: right;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #b4bcc2;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #2c3e50;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}

.nav > .disabled > a {
  color: #b4bcc2;
}

.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.nav-list > li > a,
.nav-list > .active > a,
.nav-list .nav-header {
  text-shadow: none;
}

.icon-white,
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #b4bcc2;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  background-attachment: fixed;
  background-image: url(../img/background.svg);
}
.hero-unit {
  background-image: url(../img/photo_head.jpg);
  background-position: 0% 46.001%;
  box-shadow: inset 0 0 1em #222;
  border-radius: 0 0 10px 10px;
}
.hero-unit h1,
.hero-unit p {
  color: #2c3e50;
}

.nav-list > li.nav-header {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}

.btn {
  padding: 9px 20px;
  color: #ffffff;
  text-decoration: none !important;
  text-shadow: none;
  background-image: none;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
          transition: 0.25s;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #7b8a8b;
    background-color: #d0d5d9;
}

.btn:hover,
.btn:focus {
  color: white;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
          transition: 0.25s;
}

.btn:active,
.btn.active {
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #3c3c3c;
  *background-color: #2f2f2f;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #222222 \9;
}

.btn.disabled,
.btn[disabled] {
  color: white;
}

.btn-large {
  padding: 18px 36px;
}

.btn-small {
  padding: 2px 12px;
}

.btn-mini {
  padding: 1px 8px;
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #EEE;
    box-shadow: 0 0 0.7em #222222;
}
.sidebar-nav {
    padding: 9px 0;
}
.container {
    padding: 0 0.9cm;
    box-shadow: 0 0 0.7em #222222;
}
.content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px 0 5px 0;
}
.nav-list > li {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;

}
.row-fluid .span3.banner {
    margin-left: 0px;
    padding-top: 18px;
    width: 220px;
}
.g-largeHeader {
    font-family: 'PT Sans', sans;
}
.g-smallHeader {
    font-family: 'PT Sans Narrow', sans;
}
.g-linkImage {
    height: 20px;
    padding-right: 1ex;
    margin-top: -6px;
}