body {
	background: #fff url(../img/bg.svg) fixed;
	padding-top: 0px;
	padding-bottom: 0px;
	box-shadow: 0 0 0.7em #222222;
}

.sidebar-nav {
    padding: 9px 0;
}

.container {
    padding: 0 0.9cm;
    background: #FFF;
    box-shadow: 0 0 0.7em #222222;
}
.content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px 0 5px 0;
}

.nav-list > li {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
}

.nav-list > li.nav-header {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}

.nav-list > li > a {
	padding-left: 45px;
	background-image: url('../img/icons-sprite.png');
	background-repeat: no-repeat;
}

.nav-list #main a {
	background-position: 0px -120px;
}

.nav-list #main.active a {
	background-position: 15px -84px;
}

.nav-list #news > a {
	background-position: 15px -143px;
}

.nav-list #agenda > a {
	background-position: 15px 6px;
}

.nav-list #pay > a {
	background-position: 15px -173px;
}

.nav-list #sponsors > a {
	background-position: 15px -24px;
}

.nav-list #contacts > a {
	background-position: 15px -54px;
}

.row-fluid .span3.banner {
    margin-left: 0px;
    padding-top: 18px;
    width: 220px;
}

.hero-unit {
  background: url(../img/photo_head.jpg);
  box-shadow: inset 0 0 1em #222;
  border-radius: 0 0 10px 10px;
}
.hero-unit h1,
.hero-unit p {
  color: #2c3e50;
}

