body {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #EEE;
  box-shadow: 0 0 0.7em #222222;
  background-attachment: fixed;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns:osb="http://www.openswatchbook.org/uri/2009/osb" xmlns="http://www.w3.org/2000/svg" width="141.732" height="124.016"><defs><linearGradient osb:paint="solid"><stop offset="0" stop-color="#fff"/></linearGradient><clipPath><path d="M0 464h528v-464h-528v464z"/></clipPath><pattern patternUnits="userSpaceOnUse" width="51.273" height="51.275" patternTransform="matrix(.8 0 0 -.8 18.974 445.22)"><g transform="matrix(1.25 0 0 -1.25 75.273 479)"><g><path d="M-21.2 353.18h-1v-1c0-1.542-1.457-3-3-3h-4.586l-1.414-1.414v-.586c0-1 1-2 2-2h5l3-3v3c1 0 2 1 2 2v4c0 1-1 2-2 2" fill="#1d1d1b"/><path d="M-30.2 350.18h5c1 0 2 1 2 2v4c0 1-1 2-2 2h-8c-1 0-2-1-2-2v-4c0-1 1-2 2-2v-3l3 3z" fill="#1d1d1b"/></g><path d="M-45.218 350.221h-1v5h1v-5zm-2 0h-11v1l11 3v-4zm-5.263-4.847c-.065-.257-.345-.429-.608-.361l-2.938.749c-.267.068-.429.34-.361.607l.322 1.266 3.891-1.061-.306-1.2zm5.263 10.847v-1l-11-3-2 1v-6l2 1 1.188-.324-.327-1.281c-.204-.801.282-1.619 1.083-1.823l2.938-.748c.121-.031.245-.047.369-.047.687 0 1.286.465 1.455 1.129l.302 1.183 3.992-1.089v-1l3-1.021v13.96l-3-.939z" fill="#1d1d1b"/><path d="M-44.218 370.2l-5 5h3l-4 4h2l-4 4-4-4h2l-4-4h3l-5-5h6v-3h4v3h6z" fill="#1d1d1b"/><g><path d="M-22.7 372.2c-1.105 0-2 .896-2 2s.895 2 2 2c1.104 0 2-.896 2-2s-.896-2-2-2m0 5c-1.654 0-3-1.346-3-3 0-.883.391-1.67 1-2.22v-4.78l2 2 2-2v4.78c.609.55 1 1.337 1 2.22 0 1.654-1.346 3-3 3" fill="#1d1d1b"/><path d="M-28.009 369.2h-4.691v12h5.586l3-3h2.414v.414l-4.586 4.586h-8.414v-16h8.605l-1.877 1.96-.037.04z" fill="#1d1d1b"/><path d="M-26.7 378.2h-5v-1h5v1z" fill="#1d1d1b"/><path d="M-26.7 376.2h-5v-1h5v1z" fill="#1d1d1b"/><path d="M-31.7 373.2h5v1h-5v-1z" fill="#1d1d1b"/></g></g></pattern></defs><g transform="matrix(1.25 0 0 -1.25 0 124.016)" fill="#2c3e50" fill-opacity=".322"><path d="M21.237 11.702h-1v5h1v-5zm-2 0h-11v1l11 3v-4zm-5.263-4.847c-.065-.257-.345-.429-.608-.361l-2.938.749c-.267.068-.429.34-.361.607l.322 1.266 3.891-1.061-.306-1.2zm5.263 10.847v-1l-11-3-2 1v-6l2 1 1.188-.324-.327-1.281c-.204-.801.282-1.619 1.083-1.823l2.938-.748c.121-.031.245-.047.369-.047.687 0 1.286.465 1.455 1.129l.302 1.183 3.992-1.089v-1l3-1.021v13.96l-3-.939z" fill="#2c3e50" fill-opacity=".322"/><path d="M22.237 56.575l-5 5h3l-4 4h2l-4 4-4-4h2l-4-4h3l-5-5h6v-3h4v3z"/><g><path d="M48.456 39.618h-1v-1c0-1.542-1.457-3-3-3h-4.586l-1.414-1.414v-.586c0-1 1-2 2-2h5l3-3v3c1 0 2 1 2 2v4c0 1-1 2-2 2" fill="#2c3e50" fill-opacity=".322"/><path d="M39.456 36.618h5c1 0 2 1 2 2v4c0 1-1 2-2 2h-8c-1 0-2-1-2-2v-4c0-1 1-2 2-2v-3z" fill="#2c3e50" fill-opacity=".322"/></g><g><path d="M46.955 83.532c-1.105 0-2 .896-2 2s.895 2 2 2c1.104 0 2-.896 2-2s-.896-2-2-2m0 5c-1.654 0-3-1.346-3-3 0-.883.391-1.67 1-2.22v-4.78l2 2 2-2v4.78c.609.55 1 1.337 1 2.22 0 1.654-1.346 3-3 3" fill="#2c3e50" fill-opacity=".322"/><path d="M41.647 80.532h-4.691v12h5.586l3-3h2.414v.414l-4.586 4.586h-8.414v-16h8.605l-1.877 1.96-.037.04z" fill="#2c3e50" fill-opacity=".322"/><path d="M42.955 89.532h-5v-1h5v1z"/><path d="M42.955 87.532h-5v-1h5v1z"/><path d="M37.955 84.532h5v1h-5v-1z"/></g><path d="M76.568 61.371h-1v5h1v-5zm-2 0h-11v1l11 3v-4zm-5.263-4.847c-.065-.257-.345-.429-.608-.361l-2.938.749c-.267.068-.429.34-.361.607l.322 1.266 3.891-1.061-.306-1.2zm5.263 10.847v-1l-11-3-2 1v-6l2 1 1.188-.324-.327-1.281c-.204-.801.282-1.619 1.083-1.823l2.938-.748c.121-.031.245-.047.369-.047.687 0 1.286.465 1.455 1.129l.302 1.183 3.992-1.089v-1l3-1.021v13.96l-3-.939z" fill="#2c3e50" fill-opacity=".322"/><path d="M77.335 7.07l-5 5h3l-4 4h2l-4 4-4-4h2l-4-4h3l-5-5h6v-3h4v3h6z" fill="#2c3e50" fill-opacity=".322"/><g><path d="M104.324 88.39h-1v-1c0-1.542-1.457-3-3-3h-4.586l-1.414-1.414v-.586c0-1 1-2 2-2h5l3-3v3c1 0 2 1 2 2v4c0 1-1 2-2 2" fill="#2c3e50" fill-opacity=".322"/><path d="M95.324 85.39h5c1 0 2 1 2 2v4c0 1-1 2-2 2h-8c-1 0-2-1-2-2v-4c0-1 1-2 2-2v-3l3 3z" fill="#2c3e50" fill-opacity=".322"/></g><g><path d="M105.157 33.13c-1.105 0-2 .896-2 2s.895 2 2 2c1.104 0 2-.896 2-2s-.896-2-2-2m0 5c-1.654 0-3-1.346-3-3 0-.883.391-1.67 1-2.22v-4.78l2 2 2-2v4.78c.609.55 1 1.337 1 2.22 0 1.654-1.346 3-3 3" fill="#2c3e50" fill-opacity=".322"/><path d="M99.849 30.13h-4.691v12h5.586l3-3h2.414v.414l-4.586 4.586h-8.414v-16h8.605l-1.877 1.96-.037.04z" fill="#2c3e50" fill-opacity=".322"/><path d="M101.157 39.13h-5v-1h5v1z"/><path d="M101.157 37.13h-5v-1h5v1z"/><path d="M96.157 34.13h5v1h-5v-1z"/></g></g></svg>');
}
.hero-unit {
  background-image: url(../img/photo_head.jpg);
  background-position: 0% 80.001%;
  box-shadow: inset 0 0 1em #222;
  border-radius: 0 0 10px 10px;
  color: #2c3e50;
}
.nav-header {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}

.menu-img {
  height: 20px;
  padding-right: 1ex;
  margin-top: -6px;
}

.sidebar-nav {
  padding: 9px 0;
}

.container {
  width: 940px;
  padding: 0 0.9cm;
  box-shadow: 0 0 0.7em #222222;
  background: white;
}
.img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px 0 5px 0;
}

.nav-li {
  font-family: 'PT Sans Narrow', sans;
  font-size: 19px;
  line-height: 30px;

}

.row-fluid .banner {
  margin-left: 0;
  padding-top: 18px;
  width: 220px;
}

h1 {
  font-family: 'PT Sans', sans;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
  font-weight: 900;
}
h4 {
  font-family: 'PT Sans Narrow', sans;
}