* {
  color: #000 !important;
  text-shadow: none !important;
  background: transparent !important;
  box-shadow: none !important;
}
a,
a:visited {
  text-decoration: underline;
}
a[href]:after {
  content: " (" attr(href) ")";
}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}
img {
  page-break-inside: avoid;
  max-width: 100% !important;
}
@page  {
  margin: 0.5cm;
}
p {
  orphans: 3;
  widows: 3;
}