@import url("../fonts/pt_sans.css");
            body {
                padding-top: 0px;
                padding-bottom: 0px;
                background-color: #EEE;
                box-shadow: 0 0 0.7em #222222;
            }
            .sidebar-nav {
                padding: 9px 0;
            }

            .container {
                padding: 0 0.9cm;
                box-shadow: 0 0 0.7em #222222;
            }
            .content img {
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 5px 0 5px 0;

            }

            .nav-list > li {
                font-family: 'PT Sans Narrow', sans;
                font-size: 19px;
                line-height: 30px;

            }

            .row-fluid .span3.banner {
                margin-left: 0px;
                padding-top: 18px;
                width: 220px;
            }

            h1, h2 {
                font-family: 'PT Sans', sans;
            }
            h3, h4, h5, h6 {
                font-family: 'PT Sans Narrow', sans;
            }