@import "fonts/pt_sans.css";
@import "css/bootstrap.css";

body {
    background-attachment: fixed;
    background-image: url(img/bg.png);
    background-color: #EEE;
}

.sidebar-nav {
    padding: 9px 0;
}

.container {
    padding: 0 0.9cm;
    box-shadow: 0 0 0.7em #222222;
    background: white;
}
.content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px 0 5px 0;

}

.nav-list > li {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;

}

.row-fluid .span3.banner {
    margin-left: 0px;
    padding-top: 18px;
    width: 220px;
}

h1, h2 {
    font-family: 'PT Sans', sans;
}

h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans;
}

.hero-unit {
  background-image: url(img/photo_head.jpg);
  box-shadow: inset 0 0 1em #222;
  border-radius: 0 0 10px 10px;
}
.hero-unit h1,
.hero-unit p {
  color: #2c3e50;
}

.nav-header {
    font-weight: 100;
}

.nav-list > li > a {
    position: relative;
    padding-left: 45px;
}

.icon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 15px;
}

    .icon_type_main {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcBJREFUeNpi1LELYIABJij9H4jNQRx3qMBvgABihCkDif4BKWEBEmZAnAoQQDApRiD+B8SvgVgMZtI/KC0KxLEAAcSIZNcMIM4AMVigAh+BmA+IHwBxB0w7H5RuR3YdCgAJGgKxKpRvDMS2AAGEbBEDkp9AoBmI69A9DANXkdi1UGejKIQJKKFpdAZiGWTvvGLADpZD6WyYiYxIGAb6kMSmAQQQNs/AQw89KJBBExCnI/kcq8IKNJM+IjsFWeFc5OAAgifIJsMUmmPxuRY0xaAofArEkWgKf0CDTxQ5HB2BeBGaQg6o1YwwE7OwKMKIe5CJl6EpBARSkXyuCk1rIIXuIIWHkXR/Q2LfQTYWIMCwxQw6aERKbqAIqcenmAmP3GSo8+qQxOqgYpNJMRAkJgjEs4D4Phb5+1A5QWz6sRmoAMTXgfgSECtikVeEyl2HqsVpIEjhPSC+AMS3gPgrnuD4ClVzAaoHbjELmldAOdUXiDcQCF9uILYGYlCMbsblwnhogG8iYBiy3k1QPfHIgvlQwQU4SimcqRgJLICK5YMMnIhWlMAwSK4Ei2ElUDlseiayEPDWb2j+/wjl80PFcAIAxhZXSyopM2QAAAAASUVORK5CYII=);
    }

        .active .icon_type_main {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXZJREFUeNpi/P//PwMMMEFpkIg5iOMOFfgNEECMMGUg0T8gJSARIyAjFSCAGEBSQAwSAIFXID5MPcJsBoY4gACCqQThGTA2TOAjVHsFLu2MTAxYAEilIZD+DMS3gdgYiLkBAgjZIhiGgSZkcXRFV/+jAlGYHMxuUSithOYMZyCWgbkH3eXYQDY+N/YiiwMEEDaFM7CIYXimCclEnAoroDEGAx+hMYmhUBQtaK5iM9H8P3bwBz0cnwJxJFqQ/ABiFngYQ3XE/scN4FZn/ScMwDFjCzT4K9S6VCDOgLJVgZgPGmtiIDccRnLXNyT2HWQHAwQYtphBx41ITmgkpB6f5GQ8fptMioFMQCwIxLpAfA+LYfegcoJQtQQNVALiF0TEwAuoWhT9yJlaEYjvAfEFIL6FFFPYwFeomgtQPYr4IsUXiP8S4cK/ULU4vRz/n3wQj2xgPg5F//AYgEsun1AaLMaiqRifHhYChddvIH4CxB+hfH6oGE4AAEWY5kBuz1qpAAAAAElFTkSuQmCC);
        }

    .icon_type_new {
        top: 7px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcpJREFUeNpi/P//PwMMsOjaB74F0neBOJoRWQYggOAckJJwIM0KFwEIIEYduwA9IO3MgARYgHg/EAsB8Q0gXg/EVQABhGIisp3FQPofkhg3SDsbEM8B4nlArAXESiDBO0D8Goh9gfgnisOQAUAAYRXEBkCW/4Cy2YH4OxBzAvE7IBYAYiYgBslzgBhfgTgNiKcBsQ0Q3wZiEyCeCtUkDgsNkFcYCVlNtBsBAohohUwMRAKQr2ugHsJn2G6QZ/7DggCI/wLxNyDmRQqqPyBxmNWcULoaiPmgbEMgfgDEESAbYQoDgVgdiAWhQfUciF8AsSoQqyB7Zg8QrwKlNyD+D7X+I9Tt72EBTkz4/Kd+OAIEGNEmEguYGKgMQDH9FEhLUcm8Z0zQjAICVUAsBsRfoHwDIO6GRjYvNF7vAXEfEOsiGaINxHmwTMeClFd+QZOZMBAfAGJ5IP4EtQAU3+VQgx9BE084VA+I/RkWJ8hh+BJqIKikSAfiTUCsDE3P/6G5WRSaCteCihgg1oCWVgrIRRkLlF0KxG+g7EtAvBOIFYFYBmr4MSAWARWeQGwJxG5QtQ5ALAEzD5RiQa4Jg5Z6f8mMDGZoilk1+NMhAPUFeNH+cCZ0AAAAAElFTkSuQmCC);
    }

    .icon_type_agenda {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAitJREFUeNpi1LELWM3AwOALxBxMQIITiEuA+D+IAwJTQARAADEClf0A0rdAohxAvA0mXQEQQCCpLUCGDwMC3GZB4lgA8T8gVgEIIJDKL0AGSJIRiNkZoJzfQMwDVf0fJAnTXgfVClLtBhM8DMTfYYaDBH8B8X4kCxkAAgjmJDsgjgJibqj4KyDeB3IeEKvBdIPAXyDeArX8GxB3Q+2EOSgQ2T8MUNf+hbJB3vgJZX9DVwjy7xMo+zvMWpjVIJ0CUCtAQAZJI0yMCyCAQJ75j2QFA5K1YkD8GsS5fHA93DMZyOEDBM5Qn4sC8RtkX28G4rdIClcC8VeoieIgTbA4BkVBPVQS5q5CIF4OxI+RTQSBnVBTQZE6F4hzQMkGGq5whaDAPQPEF6D8xWhuRjFREoilkcRPYFMIclcEEOdB+aBwlUNWCPPMD2j8ykIxLxC/h4qjmPiNATcARwZAgIFiZjeQdmEgDYBCwxoWGTAAikEmpGh+Ac1ojATwRGiieg1N16LY/MwANQyWEVih/uaCYh6oGAgUQA3uA2VZaNIBRZUmerQgA2moAliYgSy6DEsdUFAMxM+hga8MDfzr6AbCkpc/EHcA8T00eT6oi0CJ+gNSsYE14aDnWFAQSKGJg9IJM1J2ZyDWwMPQMHqDJg4qQD/hSz7IBv6DYhA4BMWEwB98BoLCZz00GbESYRiofNJBC3uwgWeBWAGIHyEp/kWEgWzQBA6K6ZdA/A4kCAAOwniQzqb1qwAAAABJRU5ErkJggg==);
    }

    .icon_type_crown {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiBJREFUeNpi/P//PwMMsOjaB4JosAgLVHAqEF8CCCBGmDKQEhBLlFlMXkMJyLACCCBGHbsAOyDjEBCnAvFsIL7HAhWAmT0LiL8DBBAjsl3IdoJEGaGqQfQiJiCxFUnRZCCOY4IaDjMjB+bKbVBXwgFAAIGc1Amky4BYAYgfAvERILaGmg/z4weQkeVA/BqITaASNxgwgSATlDETiNcAcTwQJ0PFOpDcxICsEARmAPEPKM6H0geRg/ctEF8FuQWLtadBBEAAYQ01bAAWkp+AmB/Jl93QkABF7TogDgZZfR2Ir6EZsAxKb4fSB0EKDYD4J5pCYyC+ADV5E8gPIF//gkoGQzEITEGKqlPIvmaAhuNpKJsDiCuh7DPI4QgDpkjsNih9CdlEkK/ZsIQKyOTnyAqnIAUPMhCBhyOU1gdiASwKJWEMgAADJTNWIB0GDdxOJA/BgBQQNwHxAyBuwWJYNBAHQRPRaRZosndFCkobID4K5fNAPS0M5RtBNcNANZIlIPFakAtBHDUgvgnNkvZoLgDxDwDxO6jXfiHJ8UETKCgA5ZCj5RY0nuyQXAcCnEC8AsoWAuJVSHJKUMNgWZYBPZ6vQGkrID4MZXcBsQSSGn8oZoD6CBZZx9BjDwROAnEClA0Kx29AzIolEtZg0XsFm4Fn0DRy4sqKaPwnQHwZl4HcULF/DMQBZmgx8hubgdKg0hdHVsAHQLnTHJ6wiS1yiAUA9198gdrXtgAAAAAASUVORK5CYII=);
    }

    .icon_type_pay {
        top: 7px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfdJREFUeNpi/P//PwMMsOjaB34G0rVgDhB7APEBIP4HEECMMGUgJYVAWgYk3QUSAQggRh27AJAcIwMSYALiX1DNMBACEECMyHYh24kulgUyvBSI/wCxFBA/BWJXkOA1IN4KVQXSNh0kuAnkQiTt/wECCOQkEOMMurOQ7QXihSDiHRQz41AIMqAOpJAbiAuAeAYQc0AlhKGaYf4yAHmcDYgXATEXNCAYoYpgpoGwCNbAwAYAAohohaCQLALS8dCAwwZAJpmAPPMDiPUJGPgfpLANiMuQfIgO/gLxe5DCo0C8GynAQbQ01KY3QMwKSlgghXXQmIFF2Tcg5gViHyDeDMSZoCAEhRs7EN+AxgwzVBEInAZibyBeD7IFZCIfEGticdtLIN4GZbPCUsp/aKxgAyBxG6IDHCDAiFZILADF4AQgnQ/EO4D4NzQxkQJ+QYMalHUngvycC8S+QLwFGoqkOpkRGsmg6NkIMvAVNJ6oAV6ADBQFYiMgPg/KQED8E00RM9Rbt9DEFaDioMx4D4iNgfgkEzRlKUMVvYGmgx9Qg39CNf1GKxtABcZ9aFFzF4izoWr+skDD7AUQ2wJxHhB/gdKf8XhtA5bCJxKWYkEuaAXiYCBOgcYyFxQTG8ugYMkA+YgFmjfcoEUyE9TppABWaLCBHLWL6gkbACNbfPYbFansAAAAAElFTkSuQmCC);
    }

    .icon_type_helicopter {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhhJREFUeNpi/P//PwMMsOjaB4JoEyA+yQQVXAnEzwACiBGmDKbkNExaAiCAGHXsAuqBDC8gPgZSC8QhIEGQLBcQfwXiO0CsChBAjMh2Idt5Gkj/A+IgIF4PxOwgw6cBsTkQPwbie0BcCBK8AcQgMxiBOAKkmwVIHIcKPIKq5gAIIJDtMVAngcxlgapmgJr/FcpmAkksgWJkALMCDpiggpOgNAyDQDmSujcsSDrzoHQHyPNAbAbEF6EaH7AwYAJ5IGaDGvAYKsYOEEBYQw0bAIXkMqiPQSasA+K1QFwJxDpQa0H+2AayWhuIf0A1dkEVtgPxZSD+BlWoDFKoj2aLHBB7ALEuevBUoinMhfoYZO1mWHCBTHyPFHYwIALELkDsC+WDU99TqEcWICkExdR1JL4ZE9R4EEgEYl4g3g71BAM0wEE4ED3ATaEJ/SeSGCM2hQ+gJvxE8/BpgAAjOmaIBaAYJGRiNjRrgEArEFfhNRA9HeMAoOC/DcQxhNQzEemTN0DMD8Q3gVgIiBcC8TUgPg9NboLIBm5CylBd0CRnDaXDgPgPUo48AMRvgVgMiLWA2BCI64B4KVSNCgu0uABxPkHTASjPK+JwqRIQZwBxCZLYD2jZkQwKFlhRhg34QIsEbIZ/AOJ5QMwKjQeQQ0JBfHwGIgMepJIKljgZ0eICZPg3QpFSCQ2Oz9DCAYb/QsMWhn9BLfxP9YQNALCRinf07Q69AAAAAElFTkSuQmCC);
    }